{% extends 'base.html' %}

{% block content %}
<div class="container home">
    <div class="row">
        <div class="col-6 mp-img">
            <img src="../static/images/Muddy-Paws-Image.webp" alt="Muddy Paws Parlour">
        </div>
        <div class="col-6 about">
            <h2 class="title"></h2>
            <p class="about-p">Welcome t Muddy Paws Dog Grooming, your premier dog grooming service located in the heart of Maghull, Liverpool. At Muddy Paws, we understand that your furry friend is a cherished member of your family, and we are dedicated to providing the highest level of care and grooming services tailored to meet their unique needs.</p>
            <br>
            <p class="about-p">Join the Muddy Paws family today and give your dog the grooming experience they deserve! We look forward to meeting you and your furry companion soon.</p>
            <button class=" btn"><a class="{% if url_name == 'accounts_login' %}active{% endif %}" href="/account/login.html">Sign In</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6 prices">
            <img src="" alt="">
        </div>
    </div>
</div>
{% endblock %}