{% extends 'base.html' %}
{% block content %}
<div class="container home">
    <div class="row">
        <div class="col-12 col-md-6 mt-4 mp-img">
            <img src="../static/images/Muddy-Paws-Image.webp" alt="Muddy Paws Parlour" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 about">
            <p class="about-p">Welcome to Muddy Paws Dog Grooming, your premier dog grooming service located in the
                heart of Maghull, Liverpool. At Muddy Paws, we understand that your furry friend is a cherished member
                of your family, and we are dedicated to providing the highest level of care and grooming services
                tailored to meet their unique needs.</p>
            <br>
            <p class="about-p">Join the Muddy Paws family today and give your dog the grooming experience they deserve!
                We look forward to meeting you and your furry companion soon.</p>
                <a class="btn sign-in-btn mb-4" href="{% url 'account_login' %}">Sign In</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mt-5 prices"><img class="prices-img img-fluid" src="../../../static/images/Muddy-Paws-Price-List.webp" alt="Muddy Paws price list" style="max-width: 100%; height: auto;"></div>
        <div class="col-12 col-md-6 our-services">
            <h2>Our Services</h2>
            <p>At Muddy Paws, we offer comprehensive grooming services designed to keep your furry friend looking and
                feeling their best. Our grooming packages include:</p>
            <h3>Grooming Services</h3>
            <h4>Basic Package</h4>
            <ul>
                <li>Shampoo</li>
                <li>Blow dry</li>
                <li>Nail trim</li>
                <li>Ear cleaning</li>
                <li>Cologne</li>
            </ul>
            <h3>Premium Packages</h3>
            <h4>Full Groom</h4>
            <ul>
                <li>All basic services</li>
                <li>Haircut</li>
            </ul>
            <h4>Hand Strip Service</h4>
            <ul>
                <li>All basic services</li>
                <li>Professional hand stripping technique</li>
            </ul>
            <br>
            <p>Each service is carefully tailored to ensure your pet receives top-quality care and leaves looking fresh,
                clean, and stylish.</p>
        </div>
    </div>
</div>
{% endblock %}