{% extends "base.html" %}

{% block title %}Booking Detail - {{booking.pet}}{% endblock %}

{% block content %}
<div class="container">
    <div class="booking-infor mt-3 p-1">
        <div class="booking-img">
            <img src="{{booking.image.url}}" alt="Your pet's profile image" class="booking-pic">
        </div>
        <div class="booking-detail">
            <h1 class="text-center">{{booking.pet}}</h1>
            <p class="text-center">Is booked in for a {{service_type}}</p>
            <div class="booking-container">
                <div class="booking-date p-3">
                    <h2>Booking Date</h2>
                    <p>{{ booking.booking_date|safe }}</p>
                </div>
                <div class="booking-time p-3">
                    <h2>Booking Time</h2>
                    <p>{{ booking.booking_time|safe }}</p>
                </div>
            </div>

            {% if request.user == booking.user %}
            <div class="text-center">
                <a href="" class="btn btn-primary w-25">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}