@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    /* Font */
    --font: 'Just Another Hand', serif;

    /* colours */
    --yellow: rgba(255, 167, 51, 70%);
    --beige:  #FFF0DB;
    --light-beige: rgba(255, 240, 219, 70%);
    --brown: #411900;
    --grey: #C7CCDB;
    --light-grey: #F2F4F8;
}

button:hover {
    background-color: var(--brown);
    color: var(--yellow);
}

html, body {
    height: 100%;
    font-family: var(--font);
}

.btn {
    background-color: var(--yellow);
    color: var(--brown);
    border-color: var(--brown);
}

p {
    font-size: 26px;
}

body {
    color: var(--brown);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Header */

header {
    background-color: var(--yellow) !important;
}

nav {
    display: flex;
    justify-content: flex-end;
}

a.nav-link {
    color: var(--brown) !important;
}

.links {
    max-width: 35%;
    font-size: 26px;
    margin-left: auto;
}

.title {
    color: var(--brown) !important;
    font-size: 50px; 
    max-width: 20%;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--yellow);
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    color: var(--brown);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

.active {
    border-bottom: 2px solid var(--brown);
    font-weight: 500;
}

/* message box */

.alert-container {
    background-color: transparent;
}

.alert {
    background-color: var(--yellow);
}

.btn-close {
    background-color: var(--brown);
    color: var(--yellow);
    box-sizing:content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    border: 0;
    border-radius: .25rem;
}

.msg-btn {
    background-color: var(--brown);
    color: var(--yellow);
}



/* Home */

.prices-img {
    width: 100%;
    height: 100%;
}

.mp-img {
    width: 100%;
    height: auto;
}

.about {
    text-align: center;
    font-size: x-large;
    background-color: var(--light-beige);
    color: var(--brown);
}

.our-services {
    text-align: center;
    font-size: x-large;
    background-color: var(--light-beige);
    color: var(--brown);
}

.our-services > ul {
    display: inline-block;
}

.home {
    padding: 50px 50px 50px;
}

.sign-in-btn {
    background-color: var(--yellow);
    color: var(--brown);
    width: 60px;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    border-radius: 5px;
    font-size: 30px;
}

/* Booking Page */

.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    transition: trasform 0.5s ease;
}

/* Pets */
.card {
    height: 90%;
    margin-top: 1rem;
    background-color: var(--light-beige);
}

.pets {
    text-decoration: none;
    color: var(--brown);
}

.pets:hover {
    cursor: pointer;
}

.pet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.pet-detail {
    align-self: center;
    width: 100%;
}

.pet-container {
    display: flex;
    flex-direction: column;
}

.extra-info, .pet-detail {
    width: 100%;
}

.pet-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pet-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet-pic {
    width: 100%;
    height: auto;
}

.container {
    background-color: var(--light-beige);
}




@media screen and (min-width: 62.5em) {
    .pet-info {
        flex-direction: row;
        border: 1px solid var(--brown);
    }
    
    .pet-img {
        width: 40%;
        margin: 0;
    }

    .pet-detail {
        width: 60%;
        padding: 2rem;
    }

    .pet-container {
        flex-direction: row;
    }

    .extra-info {
        width: 100%;
    }
}
