{% load static %}

<footer>
   <div class="col">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook link - opens in new tab">
         <img src="{% static '/icons/facebook.png' %}" alt="Facebook Icon" class="social-icon">
      </a>
   </div>
   <!-- Google maps -->
   <div class="col">
      <a href="https://www.google.com/maps/place/Muddy+Paws+Dog+Grooming+Maghull/@53.5117189,-2.9321955,15z/data=!4m6!3m5!1s0x487b23d91a09731b:0x79ed044f548d4f6e!8m2!3d53.5117189!4d-2.9321955!16s%2Fg%2F11mth714_8?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D"
         target="_blank" aria-label="Find us on google maps - opens in new tab">
         <img src="{% static '/icons/google-map-icon.svg' %}" alt="google map icon" class="social-icon">
      </a>
   </div>

   <!-- GitHub -->
   <div class="col">
      <a href="https://github.com/TaylaJBall" target="_blank" aria-label="GitHub link - opens in new tab">
         <img src="{% static '/icons/github-icon.svg' %}" alt="GitHub Icon" class="social-icon">
      </a>
   </div>
   <div class="col">
      <a href="https://www.linkedin.com/in/tayla-ball/" target="_blank" aria-label="LinkedIn link - opens in new tab">
         <img src="{% static '/icons/linkedin.png' %}" alt="LinkedIn Icon" class="social-icon">
      </a>
   </div>
</footer>