{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="text-center p-2">
    My Pets
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">

    {% for pet in pets %}
    <a href="{% url 'pet_detail' pet.id %}" class="pets" aria-label="Click to view {{pet.pet}}">
        <div class="card m-3" style="width: 18rem;">
            <img src="{{pet.pet_image.url}}" class="card-img-top" alt="image of {{pet.pet}}">
            <div class="card-body">
                <h2 class="card-title">{{ pet.pet }}</h2>
                <p class="card-text">Age: {{ pet.age }} years</p>
                <p class="card-text">Breed: {{ pet.breed }}</p>
                <p class="card-text">Gender: {{ pet.gender }}</p>
                <p class="card-text">Colour: {{ pet.colour }}</p>
                <p class="card-text">Extra Information: {{ pet.extra_info|truncatechars:100}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}