{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container dashboard">
    <div class="row">
        <div class="col-4">
            {% for pet in pets %}
                {% load cloudinary %}
                {% cloudinary photo.image quality=75 width=200 height=200 force_format='WEBP' blank=False null=False %}
            {% endfor %}
        </div>
        <div class="col-8">
            <a href="add_pet.html" target="_blank" aria-label="GitHub link - opens in new tab">
                <img src="{% static '/icons/plus.png' %}" alt="GitHub Icon" class="social-icon">
             </a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% include 'bookings.html' %}
        </div>
        <div class="col-8">

        </div>
    </div>
</div>


{% endblock %}