{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container dashboard">
    <div class="row">
        <div class="col-4">
            <!-- Loop through the pets from the 'dashboard' context variable -->
            {% for pet in dashboard %}
                {% load cloudinary %}
                <div class="card mb-4">
                    <!-- Pet Image -->
                    {% cloudinary pet.image quality=75 width=200 height=200 force_format='WEBP' blank=False null=False %}
                    <p>{{ pet.pet }}</p>
                    <!-- Button to view details in iframe -->
                    <button class="btn btn-primary" data-id=""{{ pet.id }} onclick="loadPetDetail(this)">View Details</button>
                </div>
            {% empty %}
                <p>No pets available.</p>
            {% endfor %}
        </div>
        <div class="col-8">
            <a href="add_pet.html" target="_blank" aria-label="Add pet link">
                <img src="{% static '/icons/plus.png' %}" alt="Add pet icon" class="social-icon">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Your Bookings</h3>
            <a href="{% url 'bookings' %}" class="btn btn-primary mb-3">View All Bookings</a>
            <!-- Loop through bookings from the 'bookings' context variable -->
            {% for booking in bookings %}
                <a href="{% url 'booking_detail' booking.id %}" class="bookings"
                    aria-label="Click to view {{ booking.booking_detail }}">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{{ booking.pet.pet_image.url }}" class="card-img-top" alt="Pet image for booking">
                        <div class="card-body">
                            <h2 class="card-title">{{ booking.service_type }}</h2>
                            <p class="card-text">"{{ booking.pet.pet }} is booked for a {{ booking.service.type }} on {{ booking.slot }}"</p>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>No bookings available.</p>
            {% endfor %}
        </div>
        
        <div class="col-8">
            <h2>Pet Details</h2>
            <!-- This is where the pet details will be loaded in the iframe -->
            <div id="pet-detail-container" style="display: none;">
                <iframe id="pet-detail-iframe" style="width: 100%; height: 500px; border: none;"></iframe>
            </div>
        </div>
    </div>
</div>
{% block extras %}
<script src="{% static 'js/slots.js' %}"></script>
<script src="{% static 'js/pets.js' %}"></script>
{% endblock %}