{% extends "base.html" %}
{% load static %}
{% block title %}Pet Detail - {{ pet.pet }}{% endblock %}
{% block content %}
<div class="container">
    <div class="pet-info row mt-4">
        <!-- Left: Pet Image -->
        <div class="pet-img col-12 col-md-6">
            {% if "placeholder" in pet.pet_image.url %}
            <img src="{% static 'images/placeholder_img.webp' %}" alt="Placeholder image of cartoon dog" class="img-fluid rounded shadow">
            {% else %}
            <img src="{{ pet.pet_image.url }}" alt="Image of {{ pet.pet }}" class="img-fluid rounded shadow">
            {% endif %}
        </div>
        <!-- Right: Pet Details -->
        <div class="pet-detail col-12 col-md-6 d-flex flex-column justify-content-center">
            <h1 class="text-center">{{ pet.pet }}</h1>
            <p class="text-center text-muted">Added by Owner: {{ pet.user }}</p>
            <div class="row">
                <div class="col-6">
                    <p><strong>Breed:</strong> {{ pet.breed }}</p>
                    <p><strong>Gender:</strong> {{ pet.gender }}</p>
                    <p><strong>Colour:</strong> {{ pet.colour }}</p>
                    <p><strong>Age:</strong> {{ pet.age }}</p>
                </div>
                <div class="col-6">
                    <p><strong>Allergies:</strong> {{ pet.allergies }}</p>
                    <p><strong>Vaccinated:</strong> {{ pet.vaccinated }}</p>
                    <p><strong>Microchipped:</strong> {{ pet.microchipped }}</p>
                    <p><strong>Spayed/Neutered:</strong> {{ pet.spayed_neutered }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Extra Information Section -->
    <div class="pet-container row mt-5">
        <div class="extra-info col-12">
            <div class="p-4 rounded shadow">
                <h2>Extra Information</h2>
                <p>{{ pet.extra_info|safe }}</p>
            </div>
        </div>
    </div>
    {% if request.user == pet.user %}
    <div class="pet-buttons text-center mt-3">
        <a href="{% url 'edit_pet' pet.id %}" class="btn btn-primary me-2">Edit</a>
        <a href="{% url 'delete_pet' pet.id %}" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
</div>
{% endblock %}





