{% extends "base.html" %}
{% load static %}

{% block title %}Pet Detail - {{pet.pet}}{% endblock %}

{% block content %}
<div class="container">
    <div class="pet-info mt-3 p-1">
        <div class="pet-img">
            <img src="{{ pet.pet_image.url }}" alt="Image of {{ pet.pet }}" class="pet-pic">
        </div>
        <div class="pet-detil">
            <h1 class="text-center">{{ pet.pet }}</h1>
            <p class="text-center">Added by Owner: {{ pet.user }}</p>
            <br>
            <p class="text-center">Breed: {{ pet.breed }}</p>
            <p class="text-center">Gender: {{ pet.gender }}</p>
            <p class="text-center">Colour: {{ pet.colour }}</p>
            <p class="text-center">Age: {{ pet.age }}</p>
            <p class="text-center">Allergies: {{ pet.allergies }}</p>
            <p class="text-center">Vaccinated: {{ pet.vaccinated }}</p>
            <p class="text-center">Microchipped: {{ pet.microchipped }}</p>
            <p class="text-center">Spayed/Neutered: {{ pet.spayed_neutered }}</p>
            {% if request.user == pet.user %}
            <div class="text-center">
                <a href="" class="btn btn-primary w-25">Edit</a>
                <a href="" class="btn btn-primary w-25">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="pet-container">
        <div class="extra-info p-3">
            <h2>Extra Information</h2>
            <p>{{ pet.extra_info|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}